<h4 class="mt-4">Tìm Hóa Đơn</h4>
<div class="row mb-2">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Nhập nội dung...">
        <button class="btn btn-primary">Tìm kiếm</button>
    </div>
</div>
<h4 class="mt-4">Hóa Đơn</h4>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Mã Số</th>
            <th>Ngày</th>
            <th>Giá</th>
            <th>Chi Tiết</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>dd-mm-yyyy</td>
            <td>1000</td>
            <td>ant1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>dd-mm-yyyy</td>
            <td>7000</td>
            <td>ant1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>dd-mm-yyyy</td>
            <td>100</td>
            <td>ant1</td>
        </tr>
        <tr>
            <td>4</td>
            <td>dd-mm-yyyy</td>
            <td>10</td>
            <td>ant1</td>
        </tr>
        <tr>
            <td>5</td>
            <td>dd-mm-yyyy</td>
            <td>10000</td>
            <td>ant1</td>
        </tr>
    </tbody>
</table>

<!-- Phân trang -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
    </ul>
</nav>
