<div class="container" style="width: 100%;" ng-controller="loginController">
    <div class="login-container bg-white"  style="width: 100%;">
        <h2>Đăng Nhập</h2>
        <form  style="width: 100%;">
            <div class="mb-3 input-group">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Tên đăng nhập, Số điện thoại">
            </div>
            <div class="mb-3 input-group">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                <input type="password" class="form-control" placeholder="Mật khẩu">
            </div>
            <button type="submit" class="btn btn-custom w-100 py-2">Đăng Nhập</button>
        </form>
    </div>
</div>
