
    <div class="register-container bg-white mt-4">
        <h2>Đăng Ký</h2>
        <form>
            <div class="mb-3 input-group">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Tài khoản">
            </div>
            <div class="mb-3 input-group">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                <input type="password" class="form-control" placeholder="Mật khẩu">
            </div>
            <div class="mb-3 input-group">
                <span class="input-group-text"><i class="fa-solid fa-rotate-right"></i></span>
                <input type="password" class="form-control" placeholder="Xác nhận mật khẩu">
            </div>
            <button type="submit" class="btn btn-custom w-100 py-2">Đăng Ký</button>
        </form>
    </div>
