<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="col-md-6">
    <table class="table text-center">
      <tr>
          <td>Mã Hóa Đơn:</td>
          <td>{{ hoaDon.idHoaDon }}</td>
      </tr>
      <tr>
          <td>Mã Phiếu Dịch Vụ:</td>
          <td>{{ hoaDon.phieuDichVuHD.idPhieuDichVu }}</td>
      </tr>
      <tr>
          <td>Biển Số Xe:</td>
          <td>{{ hoaDon.phieuGNX.bienSoXe }}</td>
      </tr>
      <tr>
          <td>Ngày Tạo:</td>
          <td>{{ hoaDon.ngayTao | date:'dd/MM/yyyy' }}</td>
      </tr>
      <tr>
          <td>Tổng Tiền:</td>
          <td>{{ hoaDon.tongTien | number:0 }} VNĐ</td>
      </tr>
      <tr>
          <td>Trạng Thái Thanh Toán:</td>
          <td>{{ hoaDon.trangThaiThanhToan == 1 ? 'Đã Thanh Toán' : 'Chưa Thanh Toán' }}</td>
      </tr>
      <tr ng-show="hoaDon.trangThaiThanhToan == 0">
        <td colspan="2">
            <button class="btn btn-success" ng-click="thanhToan(hoaDon.idHoaDon)">Thanh Toán</button>
        </td>
      </tr>
      <tr ng-show="hoaDon.trangThaiThanhToan == 1">
          <td>Phương Thức Thanh Toán:</td>
          <td>{{ hoaDon.phuongThucThanhToan == 1 ? 'Chuyển Khoản' : 'Tiền Mặt' }}</td>
      </tr>
    </table>
    <div class="text-center">
      <button class="btn btn-secondary" onclick="window.history.back()">Quay Lại</button>
    </div>
  </div>
</div>
