<div class="mt-5">
  <h3><b>Lịch sử bảo dưỡng</b></h3>

  <!-- Bộ lọc ngày -->
  <div class="row mb-3">
    <div class="col-md-3">
      <label for="startDate">Từ ngày:</label>
      <input type="date" class="form-control" id="batDau" ng-model="batDau" />
    </div>
    <div class="col-md-3">
      <label for="endDate">Đến ngày:</label>
      <input type="date" class="form-control" id="ketThuc" ng-model="ketThuc" />
    </div>
  </div>

  <table class="table table-bordered mt-3 text-center">
    <thead>
      <tr>
        <th scope="col">Mã Hóa Đơn</th>
        <th scope="col">Mã Phiếu Dịch Vụ</th>
        <th scope="col">Nhân Viên Tạo Phiếu</th>
        <th scope="col">Tổng Tiền</th>
        <th scope="col">Phương Thức Thanh Toán</th>
        <th scope="col">Ngày Tạo</th>
        <th scope="col">Trạng Thái</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="hd in listHoaDon | filter: dateFilter | limitTo: itemsPerPage : (currentPage - 1) * itemsPerPage">
        <td>{{hd.idHoaDon}}</td>
        <td>{{hd.phieuDichVuHD.idPhieuDichVu}}</td>
        <td>{{hd.nhanVien.idNhanVien}}</td>
        <td>{{ hd.tongTien }}</td>
        <td>{{ hd.phuongThucThanhToan }}</td>
        <td>{{hd.ngayTao | date:'dd/MM/yyyy'}}</td>
        <td>{{hd.trangThaiSuaChua == true
          ? "Đã Thanh Toán" : "Chưa Thanh Toán"}}</td>
        <td>
          <button class="btn btn-outline-warning btn-sm text-black" ng-show="hd.hoaDon != null">
            <a class="text-black text-decoration-none" ng-href="#!/hoadon/{{hd.hoaDon.idHoaDon}}">Hóa Đơn</a>
          </button>
          <button class="btn btn-outline-info btn-sm text-black">
            <a class="text-black text-decoration-none" ng-href="#!/dichvuchitiet/{{hd.idPhieuDichVu}}">Chi Tiết</a>
          </button>
          <button class="btn btn-outline-success btn-sm text-black">
            <a class="text-black text-decoration-none" ng-href="#!/tinhtrangxe/{{hd.phieuGNX.idPhieuGNX}}">
              Tình Trạng Xe
            </a>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" ng-class="{disabled: currentPage === 1}">
        <a class="page-link" href="" ng-click="changePage(currentPage - 1)">Previous</a>
      </li>

      <li class="page-item" ng-repeat="trang in pageNumbers" ng-class="{active: trang === currentPage}">
        <a class="page-link" href="" ng-click="changePage(trang)">{{ trang }}</a>
      </li>

      <li class="page-item" ng-class="{disabled: currentPage === totalPages}">
        <a class="page-link" href="" ng-click="changePage(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>
