<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow "  >
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand " href="#">
            <img src="/images/logo1.png" class="img-fluid m-0" alt="MotorHub" width="60" >
        </a>

        <!-- Nút mở menu trên mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto justify-content-center">
                <li class="nav-item"><a class="nav-link" href="#">Trang chủ</a></li>
                
                <li class="nav-item"><a class="nav-link" href="#!/datlich">Đặt lịch</a></li>
                <li class="nav-item"><a class="nav-link" ng-href="#!/gioithieu">Giới thiệu</a></li>
                
                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" ng-href="#!/phutung" role="button" data-bs-toggle="dropdown">
                        Phụ tùng
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="loaiPT in listLoaiPT">
                            <a class="dropdown-item" href="#!/phutung/{{loaiPT.idLoaiPT}}">{{loaiPT.tenLoaiPT}}</a>
                        </li>
                    </ul>
                </li>
                 

            </ul>
            <!-- Thanh tìm kiếm -->
            <!-- <form class="d-flex me-md-5 flex-grow-1 justify-content-lg-end">
                <input type="text" 
                       class="form-control me-1 w-50" 
                       placeholder="Tìm kiếm..." 
                       ng-model="keyword" 
                       ng-keyup="search()" 
                       aria-label="Search">
                <button class="btn btn-outline-light" type="submit">🔍</button> -->
            
                <!-- Hiển thị danh sách gợi nhớ -->
                <!-- <ul class="list-group position-absolute w-50 bg-white" ng-show="searchResults.length > 0">
                    <li class="list-group-item" ng-repeat="item in kqTimKiem">
                        <a ng-href="{{item.idDichVu ? '#!/dichvuchitiet/' + item.idDichVu : '#!/phutung/' + item.idPhuTung}}">
                            {{ item.tenDichVu || item.tenPhuTung }}
                        </a>
                    </li>
                </ul>
            </form> -->

            <form class="d-flex me-md-5 flex-grow-1 justify-content-lg-end" 
            ng-submit="$root.submitSearch($event)">
          <input type="text" 
                 class="form-control me-1 w-50" 
                 placeholder="Tìm kiếm..." 
                 ng-model="$root.keyword"
                 aria-label="Search">
          <button class="btn btn-outline-light" type="submit">🔍</button>
      </form>
      

            
            
           
            <!--Icon user-->
            <div class="dropdown">
                <a href="#" class="nav-link text-white dropdown-toggle" role="button" data-bs-toggle="dropdown">
                    <i class="fas fa-user-circle fa-2x"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-md-end dropdown-menu-start">
                    <li><a class="dropdown-item" href="#">Thông tin tài khoản</a></li>
                    <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                    <li><a class="dropdown-item" href="#!/dangnhap">Đăng nhập</a></li>
                    <li><a class="dropdown-item" href="#!/dangki">Đăng kí</a></li>
                    <li><a class="dropdown-item" href="#!/quenmatkhau">Quên mật khẩu</a></li>
                    <li><a class="dropdown-item" href="#!/lichsusuachua">Lịch sử sửa chữa</a></li>
                </ul>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-start">
                    <li><a class="dropdown-item" href="#!/dangnhap">Đăng nhập</a></li>
                    <li><a class="dropdown-item" href="#!/dangki">Đăng kí</a></li>
                    <li><a class="dropdown-item" href="#!/quenmatkhau">Quên mật khẩu</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
