<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="col-md-6">
    <table class="table text-center">
        <td>Mã Phiếu Dịch Vụ:</td>
        <td>{{ phieuDichVu.idPhieuDichVu}}</td>
      </tr>
      <tr>
        <td>Nhân Viên Tạo:</td>
        <td>{{ phieuDichVu.idNhanVienTaoPhieu}}</td>
      </tr>
      <tr>
        <td>Ngày Thực Hiện:</td>
        <td>{{ phieuDichVu.ngayThucHien | date:'dd/MM/yyyy' }}</td>
      </tr>
      <tr>
        <td>Ngày Hoàn Thành:</td>
        <td>{{ phieuDichVu.ngayHoanThanh | date:'dd/MM/yyyy' }}</td>
      </tr>
      <tr>
      <tr>
        <td>Trạng Thái Sửa Chữa:</td>
        <td>{{ phieuDichVu.trangThaiSuaChua == 1 ? 'Đã Hoàn Thành' : 'Chưa Hoàn Thành' }}</td>
      </tr>
        <td>Phiếu Ghi Nhận Xe:</td>
        <td>{{ phieuDichVu.phieuGNX.idPhieuGNX }}</td>
      </tr>
    </table>
    <div class="text-center">
      <button class="btn btn-secondary" onclick="window.history.back()">Quay Lại</button>
      <button class="btn btn-outline-warning btn-sm text-black" >
        <a class="text-black text-decoration-none" ng-href="#!/dichvuchitiet/{{phieuDichVu.idPhieuDichVu}}">Chi Tiết</a>
      </button>
      <button class="btn btn-outline-success btn-sm text-black">
        <a class="text-black text-decoration-none" ng-href="#!/tinhtrangxe/{{phieuDichVu.phieuGNX.idPhieuGNX}}">
          Tình Trạng Xe
        </a>
      </button>
    </div>
  </div>
</div>

