.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  overflow: hidden;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 4px 10px -3px #bfc9d4;
  transition: transform 0.3s ease-in-out;
  z-index: 40;
}
.sidebar.hide {
  transform: translateX(-100%);
}

.sidebar .nav-link {
  font-size: 12px;
  font-weight: 500;
  color: #333;
  border: 2px solid transparent;
}

.sidebar .nav-link:hover {
  color: #333;
  border: 2px solid rgb(227, 227, 227);
  border-radius: 4px;
}
.submenu {
  padding-left: 20px;
}
@media (max-width: 991px) {
  .main-container {
    margin-left: 0;
  }
}
/* header */
header {
  position: sticky;
  unicode-bidi: isolate;
  top: 0;
  z-index: 39;
}
footer {
  position: sticky;
  unicode-bidi: isolate;
  z-index: 39;
  bottom: 0;
}
.main-container {
  margin-left: 280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #f8f9fa;
}
.main-container.expanded {
  margin-left: 0;
}

.image-preview {
  width: 150px;
  height: 150px;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.chuc-nang-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.chuc-nang-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}


/* giao dien thong tin staff */
.image-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.avatar-img {
  width: 100%;
  max-width: 180px; /* 👈 Tối đa 180px thôi, tự nhỏ lại nếu màn hình nhỏ */
  height: auto;
  aspect-ratio: 1 / 1; /* Giữ tỷ lệ vuông */
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin: auto;
  display: block;
}

.edit-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 10px; /* 👉 Nhỏ lại */
  color: white;
  background-color: rgba(0, 0, 0, 0.047);
  padding: 6px;
  border-radius: 50%;
  display: none;
  transition: all 0.3s ease;
}

.image-container:hover .edit-icon {
  display: block;
}

.avatar-input {
    display: none;
    }

    .chart-container {
      position: relative;
      height: 200px;
    }

.lichhen-card1 {
  background: linear-gradient(to right, #382eee, #00c6ff); /* Tạo gradient từ xanh sang trắng */
}
.lichhen-card2 {
  background: linear-gradient(to right, #ef3b3b, #ed6f6f); /* Tạo gradient từ xanh sang trắng */
}
.lichhen-card3 {
  background: linear-gradient(to right, #248c30, #2de77a); /* Tạo gradient từ xanh sang trắng */
}
.shadow-custom-tinhnang{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* bóng dưới nhẹ đẹp */
  transition: all 0.3s ease; /* hiệu ứng chuyển động mượt */
}