<div class="container" style="width: 30%; margin: 0 auto" ng-controller="loginController">
    <div class="login-container bg-white" style="width: 100%;">
        <h2 style="text-align: center; font-weight: bold; margin-bottom: 50px">Đăng Nhập</h2>
        <form ng-submit="login()" style="width: 100%;">
            <div class="mb-3 input-group">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Tên đăng nhập, Số điện thoại" ng-model="username" required>
            </div>
            <div class="mb-3 input-group">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                <input type="text" class="form-control" placeholder="Mật khẩu" ng-model="password" required>
            </div>
            <button type="submit" class="btn btn-custom w-100 py-2" style="background-color: #7D0A0A; margin-bottom: 20px; color: white">Đăng Nhập</button>
            <p class="text-danger text-center" ng-if="errorMessage">{{ errorMessage }}</p>
        </form>
    </div>
</div>