<footer>
<div class="row" id="footer">
    <!-- Cột bên trái -->
    <div class="col-md-4">
        <h2 class="title">TRUNG TÂM SỬA XE MÁY <span class="highlight">MEGAVIA</span></h2>
        <p class="description">
            Là trung tâm lớn quy tụ các thợ sửa xe máy hàng đầu, thường trực làm việc, liên tục được đào tạo kỹ thuật chuyên sâu...
        </p>
        <div class="social-icons">
            <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="icon"><i class="fas fa-envelope"></i></a>
            <a href="#" class="icon"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <ul class="links">
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Các dịch vụ</a></li>
            <li><a href="#">Sản phẩm</a></li>
            <li><a href="#">Liên hệ chúng tôi</a></li>
        </ul>
    </div>

    <!-- Cột bên phải (Danh sách chi nhánh) -->
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4 offset-md-1">
                <h5><i class="fas fa-map-marker-alt"></i> MEGAVIA</h5>
                <p>Địa chỉ: T2, Đông Hòa, Dĩ An, Bình Dương</p>
                <p>Điện thoại: 0971.191.359</p>
                <p>Giờ làm việc: 8h00 - 20h00</p>
            </div>
            <div class="col-md-6 ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.102483066806!2d106.79736493840788!3d10.872009497320654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d8a095a73143%3A0x80350855ee219ba9!2zxJDGsOG7nW5nIFQyLCDEkMO0bmcgSG_DoCwgVGjhu6cgxJDhu6ljLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1742023223592!5m2!1sen!2s" 
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
           
        </div>
    </div>
</div>
<div class="text-dark text-center py-3" style="background: lightgray">
    <p>Hotonline: 0971.191.359 | Email: hathuyvnnd@gmail.com</p>
    <p>&copy; 2025 MotorHub - All rights reserved.</p>
</div>
  </footer>