<!-- Banner -->
<div class="container">
    <img src="../../static/images/banner.jpeg" alt="" width="100%" />
  </div>

  <!-- Logo các hãng xe -->
  <div class="container text-center my-4">
    <div class="row justify-content-center align-items-center g-3">
      <div class="col-3 col-md-3 logo-section">
        <img
          src="../../static/images/honda-Photoroom.png"
          class="brand-logo img-fluid"
          alt="Honda"
        />
      </div>
      <div class="col-3 col-md-3 logo-section">
        <img
          src="../../static/images/Piaggio-Logo-Photoroom.png"
          class="brand-logo img-fluid"
          alt="Piaggio"
        />
      </div>
      <div class="col-3 col-md-3 logo-section">
        <img
          src="../../static/images/yamaha-logo2-Photoroom.png"
          class="brand-logo img-fluid"
          alt="Yamaha" style="width: 90%;"
        />
      </div>
    </div>
  </div>

<!--Slider chạy quảng cáo-->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../static/images/banner.jpg" class="d-block w-100 " alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../static/images/banner1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../static/images/banner2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


  <!-- Dịch vụ -->
  <h2 class="text-center mt-5 fw-bold">TRUNG TÂM DỊCH VỤ</h2>
  <div class="container text-center my-4">
    <div class="row align-items-center g-3">
      <!-- Cột bên trái -->
      <div class=" col-md-4 col-6 d-flex flex-column gap-5 text-md-end text-center">
        <div class="oval-button">TƯ VẤN - KIỂM TRA</div>
        <div class="oval-button">ĐẶT LỊCH ONLINE</div>
      </div>

      <!-- Ảnh trung tâm -->
      <div class="col-md-4 d-md-flex d-none justify-content-center">
        <img
          src="../../static/images/xe-may-mototech-1.png"
          alt="Ảnh trung tâm"
          class="img-fluid circle-image "
        />
      </div>

      <!-- Cột bên phải -->
      <div class="col-md-4 col-6 d-flex flex-column gap-5 text-center text-md-end" >
        <div class="oval-button ms-auto" >CÂU HỎI THƯỜNG GẶP</div>
        <div class="oval-button ms-auto" >ĐÀO TẠO KỸ THUẬT VIÊN</div>
      </div>
    </div>
  </div>
  <!-- Đội ngũ thợ sửa chữa -->
  <div class="container my-5">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <h2 class="fw-bold">ĐỘI NGŨ THỢ SỬA CHỮA CHUYÊN MÔN CAO</h2>
        <hr />
        <p>
          Đội ngũ thợ sửa chữa xe máy chuyên sâu thường xuyên được đào tạo,
          cùng với trang thiết bị tiêu chuẩn đã tạo nên nền tảng kỹ thuật
          trong suốt nhiều năm qua. Chất lượng kỹ thuật sửa chữa được các câu
          lạc bộ xe, các doanh nghiệp đối tác và Quý Khách hàng ghi nhận.
        </p>
        <p>
          Là Hội sở kỹ thuật và sửa xe chính thức của Cộng Đồng Sh Việt Nam.
          Là một trung tâm chuyên sửa chữa bảo dưỡng xe máy Sh và các dòng xe
          tay ga cao cấp lớn nhất tại HCM.
        </p>
      </div>

      <div class="col-12 col-md-6 text-center">
        <img
          src="../../static/images/sua-xe-mototech.png"
          style="max-width: 350px; max-height: 350px; width: 100%"
        />
      </div>
    </div>
  </div>

  <!-- Trang thiết bị sửa chữa -->
  <div class="container my-5">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 text-center">
        <img
          src="../../static/images/May-ra-vao-lop-Romar-RM-827-400x400.jpg"
          style="max-width: 350px; max-height: 350px; width: 100%"
        />
      </div>
      <div class="col-12 col-md-6">
        <h2 class="fw-bold">TRANG THIẾT BỊ SỬA CHỮA HIỆN ĐẠI</h2>
        <hr />
        <p>
          Cửa hàng có đủ các loại máy móc thiết bị hiện đại thế hệ mới phục vụ
          tốt quá trình sửa xe. Máy đọc sửa lỗi Fi, phục vụ sửa chữa nâng cấp
          phần mềm các xe phun xăng điện tử đời mới.
        </p>
        <p>
          Máy nắn khung càng, phục vụ quá trình sửa xe bị va quệt, phục hồi
          các xe máy bị tai nạn. Hiện tại tất cả các chi nhánh đều có loại máy
          chuyên dụng này.
        </p>
        <p>
          Máy ra lốp và làm lốp xe ga, phục vụ sửa chữa những xe bị thủng lốp
          cần vá lại
        </p>
      </div>
    </div>
  </div>