<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<div ng-init="currentPage = 1; pageSize = 10">
    <h4 class="mt-4">Lịch Hẹn Đang Chờ Xác Nhận</h4>
    <div class="row mb-2">
        <div class="input-group">
            <!-- <input type="date" class="form-control" ng-model="ngayChon" />
            <button class="btn btn-primary" ng-click="timLichTheoNgay()">Lọc lịch hẹn</button> -->
            <input type="date" class="form-control" ng-model="ngayChon" ng-change="timLichTheoNgay()"/> 
            <!-- <label for="datePicker">Chọn ngày:</label> -->
            <!-- <input type="text" class="form-control" id="datePicker" ng-model="ngayChon" ng-change="timLichTheoNgay()"> -->
        </div>
    </div>
    <h4 class="mt-4">Lịch Hẹn</h4>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
        <th>Mã Số</th>
            <th>Ngày</th>
            <th>Bảng Số Xe</th>
            <th>Tên</th>
            <th>Trạng Thái</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="chuahoantat in lschuahoantatFiltered | startFrom:(currentPage - 1) * pageSize | limitTo:pageSize">
            <td>{{ chuahoantat.idLichHen }}</td>
            <td>{{ chuahoantat.thoiGian | date:'dd/MM/yyyy' }}</td>
            <td>{{ chuahoantat.bienSoXe }}</td>
            <td>{{ chuahoantat.tenKhachHang }}</td>
            <td>{{ chuahoantat.trangThai }}</td>
            <td> <a ng-click="confirmAppointment(chuahoantat)" class="text-secondary"> Xác nhận</a></td>
        </tr>
        <tr ng-if="chuahoantat.length === 0">
            <td colspan="4" class="text-center text-dark-emphasis">Không có phiếu ghi nhận nào.</td>
        </tr>
        <tr ng-repeat="n in [].constructor(pageSize - (lschuahoantatFiltered | startFrom:(currentPage - 1) * pageSize | limitTo:pageSize).length) track by $index">
            <td colspan="6">&nbsp;</td>
        </tr>
        </tbody>
    </table>   
    <ul class="pagination">
        <li class="page-item" ng-class="{disabled: currentPage == 1}">
            <a class="page-link" href="" ng-click="currentPage = currentPage - 1; $event.preventDefault()">Trước</a>
        </li>
        
        <li class="page-item" ng-repeat="pageNum in getPageNumbers()" ng-class="{active: pageNum == currentPage}">
            <a class="page-link" href="" ng-click="changePage(pageNum, $event)">{{ pageNum }}</a>
        </li>
        
        <li class="page-item" ng-class="{disabled: currentPage == totalPages}">
            <a class="page-link" href="" ng-click="currentPage = currentPage + 1; $event.preventDefault()">Sau</a>
        </li>
        
    </ul>   
</div>
