<div>
    <h4 class="mt-4">Tìm Phiếu Ghi Nhận</h4>
    <div class="row mb-2">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="keyword" placeholder="Bảng số xe..." />
            <button class="btn btn-primary" ng-click="search()">Tìm kiếm</button>
        </div>
    </div>
    <h4 class="mt-4">Phiếu Ghi Nhận Xe</h4>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Mã Số</th>
            <th>Ngày</th>
            <th>Bảng Số Xe</th>
            <th>Tình trạng</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="appointment in appointments">
            <td>{{ appointment.idPhieuGNX }}</td>
            <td>{{ appointment.ngayNhan | date:'dd/MM/yyyy' }}</td>
            <td>{{ appointment.lichHen.bienSoXe }}</td>
            <td>{{ appointment.moTaTinhTrangXe }}</td>
        </tr>
        <tr ng-if="appointments.length === 0">
            <td colspan="4" class="text-center text-dark-emphasis">Không có phiếu ghi nhận nào.</td>
        </tr>
        </tbody>
    </table>      
</div>
