<div >
    <!-- nội dung modal thanh toán -->


    <!-- Dịch vụ -->
    <h6>Dịch vụ</h6>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Tên dịch vụ</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="d in dichVuDaChon">
            <td>{{ d.dichVu.tenDichVu }}</td>
            <td>{{ d.dichVu.giaDichVu | currency:'₫' }}</td>
            <td>{{ d.dichVu.giaDichVu * 1 | currency:'₫' }}</td>
        </tr>
        </tbody>
    </table>

    <!-- Phụ tùng -->
    <h6>Phụ tùng</h6>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Tên phụ tùng</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in phuTungDaChon">
            <td>{{ p.phuTung.tenPhuTung }}</td>
            <td>{{ p.phuTung.giaPhuTung | currency:'₫' }}</td>
            <td>{{ p.soLuong }}</td>
            <td>{{ p.phuTung.giaPhuTung * p.soLuong | currency:'₫' }}</td>
        </tr>
        </tbody>
    </table>

    <!-- Tổng tiền + phương thức -->
    <form name="hoaDonForm" ng-submit="taoHoaDon()">
        <div class="mb-3 mt-3">
            <label class="form-label">Tổng tiền</label>
            <!-- <input type="text" class="form-control" ng-model="tongTien" readonly /> -->
            <input type="text" class="form-control" ng-value="tongTien | currency:'₫'" readonly />
        </div>

        <div class="mb-3">
            <label class="form-label">Phương thức thanh toán</label>
            <select class="form-select" ng-model="$root.phuongThucThanhToan" required>
                <option value="" disabled selected>-- Chọn phương thức --</option>
                <option value="Tien Mat">Tiền mặt</option>
                <option value="Chuyen Khoan">Chuyển khoản</option>
                <option value="The">Thẻ</option>
            </select>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-primary">Tạo hóa đơn</button>
        </div>
    </form>
</div>